// Color Scheme

// First Color Scheme
$fl-color-primary: #FFF;
$fl-color-secondary: #000;
$nickel: #6C6E70;
//typography
// Font Weight
$light: 300;
$regular: 400;
$black-italic: 900 italic;
// Font Sizes
$xx-large: 80px;
$x-x-large:50px;
$x-large: 30px;
$large: 22px;
$medium: 16px;
$small: 12px;



