.navbar {
    &__icon {
    width: 100%;
    color: black !important;
    font-size: 40px;
    }
    &__icons {
        color: black !important;
        }
    &__tittleGigeo{
        font-size:  $x-x-large;

    }
    &__tittleArt{
        font-size:  $medium;

    }
}

.navbar-toggler{
    width: 60px;
    height: 60px;
    border:none;
    }